* {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Work Sans", sans-serif;
}
body {
  background: #fff;
}
/* header styles here */
.header {
  width: 82%;
  margin: auto;
  max-width: 1320px;
  height: 600px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner-Image.png") center/cover no-repeat;
}

.banner-wish {
  padding-top: 170px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: Merriweather;
}
.banner-title {
  margin: 0% 25% 10% 25%;
  text-align: center;
  width: 632px;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}
/* discount Styles here */
.discount {
  width: 802.9px;
  margin: auto;
}
.discount > h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
}
.discount > p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
}
.discount > h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
}

.discount > img {
  width: 802.9px;
  height: 500px;
}
/* welcome banner Styles Here */
.welcome-party {
  width: 82%;
  margin: 100px auto;
  max-width: 1320px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png") center/cover no-repeat;
  height: 600px;
  border-radius: 16px;
  display: flex;
}
.party-img {
  margin: 40px 20px;
}
/* .box {
  width: 141.641px;
  height: 141.641px;
  transform: rotate(-45deg);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #690b02 27%,
    #8f4941 39%,
    #b18079 51%,
    #cdada8 62%,
    #e3d1cd 73%,
    #f2eae7 84%,
    #fcfaf6 93%,
    #fffffc 100%
  );
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
} */
.welcome-text {
  width: 697px;
  padding-left: 126px;
  padding-top: 80px;
}
.welcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 20px;
}
.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 30px;
}
.welcome-button {
  margin-top: 10px;
  background-color: #f54134;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 0;
  padding: 15px 32px;
}
/* hotel style here */

.hotel {
  width: 82%;
  margin: 100px auto;
  max-width: 1320px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 482px;
  border-radius: 16px;
}
.hotel-content {
  padding: 7.5% 28% 2% 28%;
  width: 560px;
  text-align: center;
}
.text {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.span-text {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.subscribe {
  width: 82%;
  margin: 0px auto;
  padding: 10px 10px;
  max-width: 1320px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.subscribe-content {
  margin-bottom: 3%;
  padding-bottom: 10px;
  text-align: center;
}
.mail-img {
  width: 150px;
  height: 150px;
  margin-top: 70px;
}
.newsletter {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 40px;
}
.subscribe-content > p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  width: 896px;
  margin-left: 12%;
  margin-bottom: 48px;
}
.input-box {
  display: flex;
  height: 72px;
  width: 948px;
}
input[type="text"] {
  margin-left: 30%;
  height: 72px;
  width: 447px;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  border: 0;
  padding-left: 30px;
}
.submit {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: 0;
  color: #fff;
}
.coming-soon {
  display: flex;
  width: 82%;
  margin: 100px auto;
  max-width: 1320px;
  gap: 90px;
}
.col-coming-soon-1 {
  flex: 1;
}
.best-offer {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.col-coming-soon-1 > h2 {
  margin-top: 0%;
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.col-coming-soon-1 > p {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.col-coming-soon-3 > h4 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.col-coming-soon-3 > p {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.col-coming-soon-3 > img {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}
.col-coming-soon-2 {
  flex: 1;
}
.col-coming-soon-3 {
  flex: 1;
}
.col-coming-soon-2 > img {
  border-radius: 50%;
  border: 30px solid rgb(255, 255, 255);
  box-shadow: 0 0 0 15px rgb(249, 11, 11), 0 0 0 15px rgb(255, 255, 255);
}
/* Bonus Section Styles Start */
.bonus {
  width: 82%;
  margin: 100px auto;
  max-width: 1320px;
}
.bonus-text > h6 {
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.bonus-text > h2 {
  margin-top: 10px;
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 10px;
}
.holiday-span {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.bonus-text > p {
  margin-top: 28px;
  margin-bottom: 50px;
  margin-left: 70px;
  width: 1068px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}
.bonus-images {
  /* padding: 0px 100px; */
  display: flex;
  height: 660px;
  max-width: 1320px;
  background-image: url("../images/Rectangle\ 2.png"),
    url("../images/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: bottom right, top right;
}
.gift-img {
  height: 80%;
  width: 55%;
}
.discount-img {
}
/* portfolio Section Styles Start */

.portfolio {
  width: 82%;
  margin: 100px auto;
  max-width: 1320px;
}

.portfolio-text > h6 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0%;
}
.portfolio-text > h3 {
  margin-top: 16px;
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 0%;
}
.portfolio-text > p {
  margin-top: 20px;
  margin-bottom: 48px;
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-img > img {
  width: 32%;
  height: 34%;
  transition: transform 0.3s ease-in-out;
}

.portfolio-img > img:hover {
  transform: scale(1.1);
}

/* portfolio Section Styles End */

footer {
  margin-top: 100px;
  width: 100%;
  height: 609px;
  background: #070211;
}
.footer-content {
  padding: 7.5% 8.75%;
}
.foot-row-1 {
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.foot-col {
  width: 375px;
}
.social-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.hr-line {
  height: 1px;
  background: rgba(96, 96, 96, 0.15);
  opacity: 0.1;
}
.foot-row-3 {
  display: flex;
  color: #fff;
  justify-content: space-between;
}
